@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: white;
    background-color: rgba(0, 0, 0, 0.918);
    

}
.bgphoto{
    height: 60vw;
    width: 100%;
    overflow: hidden;
    opacity: 70%;
    object-fit: cover;

}
.nav{
    height: 80px;
    width: 100%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   padding: 25px;
   position: fixed;
   background-color: transparent;
        backdrop-filter: blur(50px);
        z-index: 9999;
}
.logo{
    text-transform: uppercase;
    font-size: 2vw;
    cursor: pointer;
}
.menu>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    color: white;
    transition: 0.3s;
}
/* .menu>ul>li>a.active{
    color: black;
    background-color: #70e000;
    
    padding: 5px;
    border-radius: 10px;
} */
.link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    font-weight: 400;
    font-size: 1vw;
}
.menu>ul>li>a:hover{
    color: #70e000;
}
.btn9{
    font-size: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #70e000;
    border: none;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
}
.btn9:hover{
    background-color: #387000;
    transition: 0.3s ease-out;
    border: 1px solid white;
}
.btn1{
    font-size: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #70e000;
    border: none;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
}
.btn1:hover{
    background-color: #387000;
    transition: 0.3s ease-out;
    border: 1px solid white;
}
.menu-btn{
    display: none;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero-left{
    width: 50vw;
    margin-top: 130px;
}
.hero-left>h4{
    font-size: 2vw;
    text-transform: uppercase;
    padding-bottom: 1.5vw;
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
  
}
.body{
    color: #70e000;
}
.hero-left>h1{
    font-size: 7vw;
    line-height: 6vw;
    text-transform: uppercase;
    padding-bottom: 2vw;
    
}
.hero-left>p{
    width: 43vw;
    font-size: 1.3vw;
    font-weight: 500;
    padding-bottom: 3vw;
    font-family: Arial, Helvetica, sans-serif;

}
.hero-right>img{
    height: 40vw;
    width: 28vw;
    object-fit: cover;
    margin-top: 150px;

    
}
.hero2{
    margin-top: 6vw;
    
}
.hero2>h2{
    font-size: 3vw;
    /* text-align: center; */
    padding-left: 130px;
    margin-top: 5vw;
    text-transform: uppercase;
    margin-bottom: 3.5vw;
    padding-top: 100px;
}
.flex{
    
    display: flex;
    gap: 3vw;
   margin: 0vw 5vw;
    justify-content: center;
}
.box{
    height: 25vw;
    width: 22vw;
    
    margin-bottom: 2vw;
    border-radius: 1vw;
    background-color: rgb(40,40,40);
}
.box:hover{
    border: 2px solid #70e000;
    background-color: transparent;
    transition: 0.2s ease-out;
}
.box>i{
    /* border: 1px solid black; */
    background-color: #70e000;
    font-size: 2vw;
    border-radius: 1vw;
    margin: 2vw;
    padding: 0.3vw;
    
}
.box>h4{
    font-size: 2vw;
    text-transform: uppercase;
    margin: 1vw;
}
.box>h5{
    font-size: 1.5vw;
    position: relative;
    left: 2vw;
    top: 1.1vw;
    cursor: pointer;
}
.box>h5:hover{
    color: orangered;
}
.box>p{
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    font-weight: 500;
}
.img4{
    height: 35vw;
    width: 27vw;
    object-fit: cover;
    border-radius: 50px;
    /* position: relative;
    left: 50px; */
    margin-left: 7vw;
    margin-top: 2vw;
}

.hero3{
    display: flex;
    margin-top: 60px;
}
.sub-hero{
    width: 500px;
    margin-left: 100px;
    margin-top: 120px;
    
}
.sub-hero>h2{
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 2vw;
}
.sub-para{
    font-size: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif
}
.hero4{
    margin-top: 15vw;
    text-align: center;
    
}
.hero4>img{
    height: 40vw;
    width: 70vw;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 15vw;
}
.hero4>h5{
    /* margin-left: 26.5%; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 65vw;
    margin-bottom: 80px;
    font-size: 1.5vw;
}
.hero4>h2{
    font-size: 5vw;
    text-transform: uppercase;
    margin-bottom: 5vw;
    padding-top: 80px;
    
}
.hero4>h2>span{
    color: #70e000;
}
.hero4-box{
    height: 10vw;
    width: 60vw;
    background-color: rgb(23, 23, 23);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.hero4-box:hover{
    border: 2px solid #70e000;
    transition: 0.2s ease-out;
}
.min-box1{
    display: flex;
    width: 20vw;
     gap: 5px;
}
.gem1>i{
    border-radius: 0.5vw;
    background-color: #70e000;
    padding: 1vw;
    
}
.gem1{
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}
.gem2>h3{
    font-size: 1.8vw;
}
.gem2>p{
    font-size: 1.2vw;
}
.session1{
    text-align: center;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    margin-top: 12vw;
}
.session1>h2{
    text-transform: uppercase;
    font-size: 5vw;
    margin-bottom: 2.5vw;
}
.session1>p{
    font-size: 1.5vw;
}
.session2{
    height: 40vw;
    width: 75vw;
    margin-top: 6vw;
    display: flex;
    justify-content: space-between;
}
.session2>h1{
    font-size: 2vw;
}
.session2>h2{
    font-size: 2.5vw;
}
.hero5{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}
.price-box{
    height: 35vw;
    width: 35vw;
    background-color: rgb(40, 40, 40);
    text-align: center;
    margin: 20px;
    border-radius: 30px;
}
.price-box:hover{
    border: 1.5px solid #70e000;
    /* height: 35vw;
    width: 37vw; */
    transition: 0.2s ease-out
}
.price-box>h1{
    margin: 1.5vw;
}
.price-box>h2{
    margin: 20px;
    font-size: 4vw;
}
.price-box>ul>li{
    list-style: none;
    margin: 10px;
    font-size: 1.3vw;
}
.price-box>ul{
    margin-top: 5vw;
}
.btn2{
    background-color: transparent;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: 1.5px solid #70e000;
    color: white;
    border-radius: 10px;
    margin-top: 9vw;
}
.btn2:hover{
    background-color: #70e000;
    color: black;
    transition: 0.2s ease-out;
    
}
.btn3{
    background-color: transparent;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: 1.5px solid #70e000;
    color: white;
    border-radius: 10px;
    margin-top: 6.5vw;
}
.btn3:hover{
    background-color: #70e000;
    color: black;
    transition: 0.2s ease-out;
    
}
.btn4{
    background-color: transparent;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: 1.5px solid #70e000;
    color: white;
    border-radius: 10px;
    margin-top: 2vw;
}
.btn4:hover{
    background-color: #70e000;
    color: black;
    transition: 0.2s ease-out;
    
}
.hero6{
    height: 36vw;
    width: 80vw;
    border-radius: 30px;
    background-color: rgb(40, 40, 40); 
    margin-top: 87vw;

    
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.rate1>h3{
    font-size: 2vw;
    text-transform: uppercase;
    margin-top: 7vw;
    margin-left: 15vw;
    margin-bottom: 0.5vw;
}
.rate1>p{
    width: 60vw;
    margin-left: 15vw;
    font-size: 1.3vw;
}
.rating{
    color: yellow;
    font-size: 2.5vw;
    margin-left: 15vw;
    margin-top: 4vw;
}
.img7{
    height: 3vw;
    width: 3vw;
    object-fit: cover;
    border-radius: 50%;

}
.customer{
    display: flex;
    gap: 1vw;
    margin-left: 15vw;
    margin-top: 4vw;
}
.footer{
    height: 33vw;
    width: 100%;
    background-color: rgb(40, 40, 40); 
    display: flex;
    justify-content: space-evenly;
    margin-top: 134.5vw;
}
.foot1{
    text-transform: uppercase;
    margin-left: 2.2vw;
    
    margin-top: 3.5vw;
}
.foot1>a{
text-decoration: none;
    color: white;
    font-size: 3vw;
    margin-bottom: 2vw;
}
.foot1>p{
    width: 32vw;
    font-size: 1.2vw;
    margin-top: 2vw;
    line-height: 2vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}
.foot2{
    margin-top: 5vw;
    font-size: 1.2vw;
    text-transform: uppercase;
}
.links123>a:hover{
    color: #70e000;
}
.foot3{
    margin-top: 5vw;
    font-size: 1.2vw;
    text-transform: uppercase;
}
.foot4{
    margin-top: 5vw;
    font-size: 1.2vw;
    text-transform: uppercase;
}
.links123>a{
    text-decoration: none;
    color: white;
    display: flex;
    margin-bottom: 2vw;
    font-size: 1.2vw;

}
.links123{
    margin-top: 60px;
}
.foot-right{
    display: flex;
    gap: 50px;
}
















































@media (max-width:900px){
   .nav{
        height: 50px;
        width: 100%;
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(50px);
        z-index: 9999;
    }
    .menu{
        display: none;
        
    }
    .btn9{
        display: none;
    }
    .logo{
        font-size: 20px;
    }
    .menu-btn{
        display: block;
        cursor: pointer;
        font-size: 25px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .hero-left{
        width: 100%;
       margin-top: 80px;
        
    }
    .hero-left>h4{
        font-size: 5vw;
        margin-top: 60px;
    }
    .hero-left>h1{
        font-size: 12vw;
        width: 100%;
        margin-top: 3vw;
        line-height: 40px;
    }
    .hero-left>p{
        font-size: 3.2vw;
        margin-left: 10vw;
        width: 80%;
        margin-top: 6vw;
    }
    .hero-right>img{
        height: 50vh;
        width: 72vw;
        margin-top: 40px;
    }
    .hero2{
        width: 100%;
    }
    .hero2>h2{
        margin-left: -48px;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 15px;
        width: 100%;
        
    }
    .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        
    }
    .box{
        height: 250px;
        width: 250px;
        border-radius: 25px;
        text-align: center;
        
    }
    .box>i{
        display: none;
    }
    .box>h4{
        font-size: 20px;
        margin-top: 20px;
    }
    .box>p{
        font-size: 10px;
        margin-top: 20px;
    }
    .box>h5{
        font-size: 15px;
        margin-top: 70px;
        
    }
    .hero-left>h1>span{
        color: #70e000;
    }
    .hero3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img4{
        height: 300px;
        width: 280px;
        margin-left: 0px;
    }
    .sub-hero{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        margin-left: 0px;
        margin-bottom: 70px;
    }
    .sub-hero>h2{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .sub-para{
        font-size: 15px;
        
    }.btn1{
        font-size: 20px;
        margin-top: 35px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .hero4>h2{
        font-size: 30px;
    }
    .hero4>h5{
        font-size: 12px;
        font-weight: 100;
    }
    .hero4>img{
        height: 200px;
        width: 85%;
        margin-top: 140px;
    }
    .hero4-box{
        margin-top: 80px;
        background-color: rgb(40,40,40);
        width: 70%;
        height: 600px;
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
        
    }
    .gem1>i{
        display: none;
    }
    .gem2>h3{
        font-size: 25px;
        text-align: center;
        
        
    }
    .gem2>p{
        font-size: 12px;
        margin-top: 10px;
    }
    .min-box1{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .session1>h2{
        font-size: 30px;
        width: 100%;
        
    }
    .session1>p{
        font-size: 15px;
        width: 300px;
        margin-top: 30px;
    }
    .session2{
        flex-direction: column;
        margin-left: 25%;
        gap: 20px;
        height: 50vh;
    }
    .price-box{
        height: 50vh;
        width: 70%;
    }
    .price-box>h2{
        font-size: 30px;
    }
    .price-box>ul>li{
        font-size: 12px;
    }
    .btn2{
        margin-top: 70px;
        margin-bottom: 10px;
    }
    .btn3{
        
        margin-bottom: 10px;
    }
    .btn4{
        
        margin-bottom: 10px;
    }
    .hero6{
        height: 45vh;
        position: relative;
        top: 150vh;
    }
    .rate1>h3{
        font-size: 5vw;
        position: relative;
        top: 20px;
        /* margin-top: 5vw; */
    }
    .rate1>p{
        font-size: 3vw;
        margin-top: 10px;
        position: relative;
        top: 20px;
        
    }
    .rate1{
        margin-top: 0vw;
    }
    .rating{
        position: relative;
        top: 20px;
        font-size: 20px;
        margin-top: 20px;
    }
    .customer{
        font-size: 20px;
        position: relative;
        top: 20px;
        gap: 20px;
    }
    .name>p{
        font-size: 10px;
    }
    .img7{
        height: 30px;
        width: 30px;
        position: relative;
        top: 6px;
    }
    .footer{
        margin-top: 160vh;
        height: 40vh;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
        
    }
    .foot1>a{
        font-size: 25px;
        position: relative;
        left: 20px;
        top: 30px;
    }
    .foot1>p{
        font-size: 10px;
        line-height: 12px;
        width: 80%;
        margin-top: 50px;
        margin-left: 20px;
    }
    .foot2>h4{
        font-size: 10px;
        margin-top: 50px;
    }
    .foot3>h4{
        font-size: 10px;
        margin-top: 50px;
    }
    .foot4>h4{
        font-size: 10px;
        margin-top: 50px;
    }
    .links123>a{
        font-size: 8px;

    }
    .links123{
        margin-top: 30px;
        
    }
    .foot-right{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: -30px;
    }
}